{% extends 'base.html' %}
{% block title_block %}
    {{ title_page }}
{% endblock %}

{% block body_block %}

    {% if posts %}
        {% for post in posts %}

            <div class="postBox">
                <div class="postTitle">
                    <h3>{{ post.title }}</h3>
                </div>

                <div class="postDate">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <small> {{ post.published_date|date:"M d, Y " }}</small>
                    <div class="postTags">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                        <small> {{ post.tags }}</small>
                    </div>
                </div>


                <div class="postContent">
                    {% if post.image %}
                        <img src="{{ MEDIA_URL }}{{ post.image }}" class="img-fluid" alt="Responsive image"/>
                    {% endif %}
                    {% if post.content_length <= 700 %}
                        <p>{{ post.content }}</p>
                    {% else %}
                        <p>{{ post.content|slice:"0:700"|linebreaksbr }}..</p>
                    {% endif %}

                    <div class="postReadMore">
                        <a href="{% url 'post_view' pk=post.pk %}">Read more</a>
                    </div>
                </div>

                <div class="postFooter">
                    <p>posted by <strong>{{ post.author }}</strong></p>
                </div>
            </div>

        {% endfor %}

    {% else %}
        <h1>There is no posts.</h1>
    {% endif %}

    <div class="postShowMore">
        <a href="{% url 'blog_view' page=2 %}"> Show more </a>
    </div>

    <hr>

{% endblock %}