{% extends 'base.html' %}
{% block title_block %}
    {{ post.title }}
{% endblock %}
{% block body_block %}

    <div class="postBox">
        <div class="postTitle">
            <h3>{{ post.title }}</h3>
        </div>

        <div class="postDate">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <small> {{ post.published_date|date:"M d, Y " }}</small>
            <div class="postTags">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <small> {{ post.tags }}</small>
            </div>
        </div>

        <div class="postContent">
            {% if post.image %}
                <img src="{{ MEDIA_URL }}{{ post.image }}" class="img-fluid" alt="Responsive image"/>
            {% endif %}
            <p>{{ post.content|linebreaksbr }}</p>
        </div>

        <div class="postFooter">
            <p>posted by <strong>{{ post.author }}</strong></p>
        </div>

        <div class="postComments">
            {% if comments %}
                <br/>
                <br/>
                {% for comment in comments %}
                    {% if comment.approved %}
                        <div class="thumbnail">
                        <div class="caption">
                        <div class="commentContent">
                            {{ comment.content }}
                        </div>
                        <div class="commentHeader">
                            <span class="small">
                                posted by
                                <strong>{{ comment.author }}</strong>
                            <br/>
                                at {{ comment.date }}
                            </span>
                        </div>
                        <br/>
                    {% endif %}
                </div>
                </div>
                {% endfor %}
            {% endif %}
            <h2>Comment</h2>
            <br/>
            <div class="commentForm">
                <form action="{% url 'post_view' pk=post.pk %}" method="post">{% csrf_token %}
                    {{ form.author }}
                    {{ form.email }}
                    <br/>
                    <br/>
                    {{ form.content }}
                    <br/>
                    <br/>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
        <br/>
        <br/>
        <div class="postShowMore">
            <a href="/">Back to Previous</a>
        </div>
    </div>

{% endblock %}