{% extends 'base.html' %}
{% block title_block %}
    Administration Panel
{% endblock %}
{% block body_block %}
    <ol class="breadcrumb">
        <li><a href="{% url 'create_post_view' %}">New Post</a></li>
        <li><a href="{% url 'edit_authors_view' %}">Authors</a></li>
        <li class="pull-right"><a href="{% url 'logout_view' %}">Logout</a></li>
    </ol>
    <br/>
    <h1>List of Posts</h1>
    <br/>
    <br/>
    {% if posts %}
        {% for post in posts %}
            <div class="thumbnail">
                <div class="caption" style="text-align: center;">
                    <h3>{{ post.title }}</h3>
                    <h4>{{ post.published_date }}</h4>
                    <h4>{{ post.author }}</h4>
                    <a href="{% url 'read_post_view' pk=post.pk %}">Read</a>
                    <a href="{% url 'edit_post_view' pk=post.pk %}">Edit</a>
                    <a href="{% url 'delete_post_view' pk=post.pk %}">Delete</a>
                    <br/>
                    <a href="{% url 'edit_comments_view' post_id=post.pk %}">Edit Comments</a>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <h1>There is no posts.</h1>
    {% endif %}
{% endblock %}