{% extends 'base.html' %}
{% block title_block %}
    {{ post.title }}
{% endblock %}
{% block body_block %}

    <div class="postBox">
        <div class="postTitle">
            <h3>{{ post.title }}</h3>
        </div>

        <div class="postDate">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <small> {{ post.published_date|date:"M d, Y " }}</small>
            <div class="postTags">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <small> {{ post.tags }}</small>
            </div>
        </div>

        <div class="postContent">
            {% if post.image %}
                <img src="{{ MEDIA_URL }}{{ post.image }}" class="img-fluid" alt="Responsive image"/>
            {% endif %}
            <p>{{ post.content|linebreaksbr }}</p>
        </div>

        <div class="postFooter">
            <p>posted by <strong>{{ post.author }}</strong></p>
        </div>

        <div class="postComments" style="text-align: center;">
            {% if comments %}
                {% for comment in comments %}
                    <br/>
                    <div class="thumbnail">
                        <div class="caption" style="text-align: center;">
                            <strong>Comment</strong> {% if comment.approved %}
                            <strong style="color: green;">Approved</strong>
                        {% else %}
                            <strong style="color: red;">Not Approved</strong>
                        {% endif %}<br/> {{ comment.content }} <br/>
                            {{ comment.date }}<br/>
                            posted by <strong>{{ comment.author }}</strong>
                            - {{ comment.email }} <br/>
                            <a href="{% url 'edit_comment_view' comment_id=comment.id %}">Edit</a>
                            or
                            <a href="{% url 'delete_comment_view' comment_id=comment.id %}">Delete</a>
                            <br/>
                            <br/>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1>There is no comments</h1>
            {% endif %}
        </div>
        <div class="postShowMore">
            <a href="{% url 'administration_view' %}">Back to Previous</a>
        </div>

    </div>

{% endblock %}